.header {
  text-transform: uppercase;
  &__title {
    font-size: 2rem;
  }

  &__navlink {
    display: flex;
    list-style: none;
    :not(:last-child) {
      margin-right: 2rem;
    }
    li a {
      color: var(--color-primary);
      text-decoration: none;
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    &--notif {
      font-size: 3rem;
      color: var(--color-primary);
    }
    &--img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}
