.header {
  text-transform: uppercase;

  &__title {
    font-size: 2rem;
  }

  &__navlink {
    display: flex;
    list-style: none;

    :not(:last-child) {
      margin-right: 2rem;
    }

    li a {
      color: var(--color-primary);
      text-decoration: none;

      i {
        font-size: 1.5rem;
        transform: translate(1px, 6px);
      }
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    :not(:last-child) {
      margin-right: 1.5rem;
    }

    &--notif {
      font-size: 3rem;
      color: var(--color-primary);
      position: relative;

      span {
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background-color: var(--color-red);
        top: -1rem;
        right: -1rem;
        font-size: 1.5rem;
        text-align: center;
        justify-content: center;
        display: flex;
        line-height: 2.5rem;
      }
    }
    &--img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  @include respond-to(tablet) {
    &__title {
      display: none;
    }

    &__navlink {
      :not(:last-child) {
        margin-right: 1.5rem;
      }
      li a {
        i {
          font-size: 1.4rem;
        }
      }
    }

    &__profile {
      :not(:last-child) {
        margin-right: 1.5rem;
      }
      &--notif {
        font-size: 2rem;
        span {
          height: 20px;
          width: 20px;
          top: -1.6rem;
          right: -1.5rem;
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
      &--img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }

  @include respond-to(phone) {
    font-size: 1.6rem !important;

    &__profile {
      &--img {
        height: 35px;
        width: 35px;
      }
    }
  }

  @include respond-to(small-phone) {
    &__navlink {
      li a {
        i {
          display: none;
        }
      }
    }
  }
}

.left-side {
  margin-top: 3rem;
  margin-right: -11rem;

  &__celestialBodies {
    display: flex;
    justify-content: space-evenly;
    margin-right: 14rem;

    img {
      height: 90px;
      width: 90px;
    }
  }

  &__about {
    &--paragraph {
      line-height: 2;
      width: 80%;
      font-size: 1.4rem;
      margin-top: 21rem;
      margin-bottom: 1rem;
      text-align: justify;
    }
  }

  &__btn {
    margin-top: 4rem;
    a {
      text-decoration: none;
      padding: 1rem 6rem;
      margin-top: 3rem;
      font-size: 2rem;
      font-weight: 600;
      border-radius: 0.7rem;
      border: none;
      opacity: 0.8;
      cursor: pointer;
      color: var(--color-black);
      background: var(--color-white);
    }
  }

  @include respond-to(tablet) {
    &__celestialBodies {
      padding: 2rem 0 4rem 0;

      img {
        height: 70px;
        width: 70px;
      }
    }

    &__about {
      transform: translateY(0);
      &--paragraph {
        width: 100%;
        padding-bottom: 2rem;
      }
    }

    &__btn {
      margin-top: 2rem;
      a {
        padding: 1rem 2rem;
      }
    }
  }
}

.center {
  padding: 2rem 0rem;

  &__publishers {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    padding-right: 10px;
    padding-left: 10px;

    &--name {
      font-size: 1.1rem;
      font-weight: 800;
      text-transform: capitalize;
      margin-right: 2rem;
      margin-top: 3rem;
      margin-left: 10px;
    }

    &--picture {
      position: relative;

      img {
        height: 45px;
        width: 45px;
        border-radius: 100px;
        box-shadow: 0 0 0 3px var(--color-white);
      }

      &--1 {
        position: absolute;
        left: 21rem;
        bottom: 0rem;
      }

      &--2 {
        position: absolute;
        left: 24rem;
        bottom: 0rem;
      }

      &--3 {
        position: absolute;
        left: 27rem;
        bottom: 0rem;
      }
    }
  }
  @include respond-to(tablet-land) {
    &__publishers {
      display: block;
    }
  }

  @include respond-to(tablet) {
    &__publishers {
      display: flex;
      padding: 2rem 0;
    }
  }
}

.right-side {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 4rem;
}

/*article__content*/

.article__content {
  margin-top: 2rem;
  text-align: left;
  text-align: justify;
  padding-right: 22px;
  padding-left: 20px;

  &__title {
    font-size: 2.5rem;
    text-transform: capitalize;
    padding-top: 2rem;
    i {
      font-size: 2.2rem;
    }

    &--2 {
      padding-top: 40px;
    }
  }

  &__paragraph {
    font-size: 1.3rem;
    padding-top: 2rem;
    line-height: 22px;
  }

  &__list {
    padding-top: 2rem;
    line-height: 22px;
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    text-align: left;

    &--1 {
      padding-right: 3rem;
    }
  }

  @include respond-to(tablet) {
    padding: 2rem 0rem;

    &__title {
      font-size: 2rem;
      padding-top: 2rem;
      i {
        font-size: 2rem;
      }

      &--2 {
        padding-top: 0px;
      }
    }

    &__list {
      display: block;

      &--1 {
        padding-right: 3rem;
      }
    }
  }
}
