.header {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  font-size: 2rem;
}

.content {
  display: flex;
  font-size: 1.2rem;
}

.left-side {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.center {
  display: flex;
  flex: 0 0 24%;
  flex-direction: column;
  border-right: 1px solid var(--color-white);
  border-left: 1px solid var(--color-white);
}

.right-side {
  display: flex;
  flex: 1;
}
