/*
--color-primary: #e2e2e2;
--color-black: #000;
--color-white: #fff;

*/
:root {
  --color-primary: #e2e2e2;
  --color-black: #000;
  --color-white: #fff;
  --color-red: #ff2020; }

* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  padding: 0 2rem;
  color: var(--color-primary);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/Photos-Earth-From-Space.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.header {
  text-transform: uppercase; }
  .header__title {
    font-size: 2rem; }
  .header__navlink {
    display: flex;
    list-style: none; }
    .header__navlink :not(:last-child) {
      margin-right: 2rem; }
    .header__navlink li a {
      color: var(--color-primary);
      text-decoration: none; }
      .header__navlink li a i {
        font-size: 1.5rem;
        transform: translate(1px, 6px); }
  .header__profile {
    display: flex;
    align-items: center; }
    .header__profile :not(:last-child) {
      margin-right: 1.5rem; }
    .header__profile--notif {
      font-size: 3rem;
      color: var(--color-primary);
      position: relative; }
      .header__profile--notif span {
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background-color: var(--color-red);
        top: -1rem;
        right: -1rem;
        font-size: 1.5rem;
        text-align: center;
        justify-content: center;
        display: flex;
        line-height: 2.5rem; }
    .header__profile--img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      object-fit: cover; }

.left-side {
  padding-right: 10px;
  padding-left: 10px; }
  .left-side__celestialBodies {
    display: flex;
    justify-content: space-evenly; }
    .left-side__celestialBodies img {
      height: 90px;
      width: 90px; }
  .left-side__about--paragraph {
    line-height: 2;
    text-align: left;
    width: 80%;
    font-size: 1.4rem;
    margin-top: 18rem;
    margin-bottom: 1rem;
    text-align: justify; }
  .left-side__btn {
    margin-top: 3rem; }
    .left-side__btn a {
      text-decoration: none;
      padding: 1rem 6rem;
      font-size: 2rem;
      font-weight: 600;
      border-radius: 0.7rem;
      border: none;
      opacity: 0.8;
      cursor: pointer;
      color: var(--color-black);
      background: var(--color-white); }

.center {
  padding: 2rem 1.5rem; }
  .center__publishers {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    padding-right: 10px;
    padding-left: 10px; }
    .center__publishers--name {
      font-size: 1.2rem;
      font-weight: 800;
      text-transform: capitalize;
      margin-right: 2rem;
      margin-top: 3rem; }
    .center__publishers--picture {
      position: relative; }
      .center__publishers--picture img {
        height: 45px;
        width: 45px;
        border-radius: 100px;
        box-shadow: 0 0 0 3px var(--color-white); }
      .center__publishers--picture--1 {
        position: absolute;
        left: 21rem;
        bottom: 0rem; }
      .center__publishers--picture--2 {
        position: absolute;
        left: 24rem;
        bottom: 0rem; }
      .center__publishers--picture--3 {
        position: absolute;
        left: 27rem;
        bottom: 0rem; }

.right-side {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding-right: 10px;
  padding-left: 10px; }

/*article__content*/
.article__content {
  margin-top: 2rem;
  text-align: left;
  text-align: justify;
  padding-right: 10px;
  padding-left: 10px; }
  .article__content__title {
    font-size: 2.5rem;
    text-transform: capitalize; }
    .article__content__title i {
      font-size: 2.2rem; }
    .article__content__title--2 {
      padding-top: 40px; }
    .article__content__title--3 {
      padding-top: 20px; }
  .article__content__paragraph {
    padding-top: 2rem;
    line-height: 22px; }

.header {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  font-size: 2rem; }

.content {
  display: flex;
  font-size: 1.2rem; }

.left-side {
  display: flex;
  flex: 1;
  flex-direction: column; }

.center {
  display: flex;
  flex: 0 0 24%;
  flex-direction: column;
  border-right: 1px solid var(--color-white);
  border-left: 1px solid var(--color-white); }

.right-side {
  display: flex;
  flex: 1; }
